body {
    background-color: rgb(139, 139, 139);
    margin: 0;
    padding: 0;
}

/* box top */
section {
    background-color: rgb(22, 22, 22);
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    margin: 50px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 10px gray;
}

/* title */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
}

/* contacts line */
.contacts {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    box-shadow: 5px 5px 10px white;
}

/* links */
a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.3s;
}

a:hover {
    color: red;
}

body {
    background-color: rgb(139, 139, 139);
    margin: 0;
}

/* section */
section {
    background-color: rgb(22, 22, 22);
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    margin: 50px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 10px gray;
}

h1 {
    color: white;
    font-size: 40px;
}

/* contacts */
.contacts {
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    box-shadow: 5px 5px 10px white;
}

/* icons */
.contacts a {
    font-size: 35px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.contacts a:hover {
    transform: scale(1.2);
}

/* colors لكل icon */
.fa-facebook-f:hover {
    color: #1877f2;
}

.fa-instagram:hover {
    color: #e1306c;
}

.fa-twitter:hover {
    color: #1da1f2;
}